

body{
    background-color: #038cfc;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

button {
    background-color: #073e75;
    color: white;

}
hpbbies {
    background-color: #4b626b;
}

footer{
    display: flex;
    justify-content: flex-center;
    margin-top: auto;
    flex-direction: column;
}

main {
    margin: 0 auto;
    /* or: align-self: center */
    max-width: 80ch;
  }
